body {
margin: 0;
font-family: 'Poiret One', cursive;
}

span {
font-weight: bolder;
color: rgb(169, 5, 5);
}

.grid .wrap {
width: 1021px;
margin: 0 auto;
}

div {
display: block;
}

img.bg-rach-img {
width: 100%;
visibility: hidden;
margin-top: -251px;
}

ul.nav.nav--banner.nav-top {
display: inline-flex;
position: fixed;
}

li.nav-top-li {
display: table-row-group;
margin: 10px;
}

.grid__item.one-whole.bg-1 {
background-image: url("../img/bg-rach.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.grid .bg-1 ul {
float: center;
padding: 30px;
}

.grid .bg-1 ul li {
padding: 5px 20px;
}

.grid .bg-1 ul li a {
text-decoration: none;
color: rgb(229, 229, 229);
text-shadow: 2px 2px 21px white;
font-weight: bold;
}

.grid .bg-1 ul li a:hover {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 21px white;
  }

ul.nav.nav--banner.nav-top {
display: inline-flex;
position: relative;
}




/**********************
About
**************************/

#about {
padding: 100px 0;
}

.grid__item.one-whole.bg-2 {
width: 1024px;
margin: 0 auto;
}

.p-rachelle {
font-size: 26px;
font-family: 'Open Sans', sans-serif;
}

img.cs50-img {
width: 250px;
}

p.grid__item.one-quarter {
width: 400px;
float: right;
margin-left: 30px;
font-family: 'Open Sans', sans-serif;
}

.h1-rachelle {
font-size: -webkit-xxx-large;
}

/*************************

**************************/
.partner {
	width: 1024px;
	margin: 0 auto;
}

.grid__item.one-whole.bg-4 {
background-color: lightblue;
padding: 43px 0;
}